extends layout.pug

block content
    .jumbotron
        .container
            h1.title Dashboard
            p.subtitle Select a server below to configure its settings.
            a.btn.btn-primary(href='/dashboard/refresh') Refresh Servers
    .container.container-margin
        if user.guilds.length > 0
            .row
                for guild in user.guilds.sort((a, b) => a.name.toLowerCase() > b.name.toLowerCase() ? 1 : b.name.toLowerCase() > a.name.toLowerCase() ? -1 : 0)
                    .col-lg-3.text-center(style='margin-bottom: 30px;')
                        img.img(src=guild.icon ? 'https://cdn.discordapp.com/icons/' + guild.id + '/' + guild.icon + '?size=256' : '/images/equinox.jpg' style='width: 128px; margin-bottom: 10px;')
                        h3.title #{guild.name}
                        if botGuilds.includes(guild.id) && (guild.owner || (guild.permissions & (1 << 0x00000020)) !== 0 || developers.includes(user.id))
                            a(href='/dashboard/' + guild.id) Go to Dashboard
                        else if guild.owner || (guild.permissions & (1 << 0x00000020)) !== 0
                            a(href='/invite/' + guild.id) Invite Equinox
        else
            h2.title No servers!
            p.subtitle Join a server to see them here.