extends layout.pug

block content
    .jumbotron
        .container
            .row
                .col-lg-2.col-md-2.col-sm-2
                    img.float-left(src='/images/equinox.jpg' style='border-radius: 100%; width: inherit;')
                .col-lg-10.col-md-10.col-sm-10(style='display: inline-block')
                    h1.title Equinox
                    p.subtitle A feature rich Discord bot packed full of the best functionalities you'll ever need.
                    a.btn.btn-primary(href='/invite' style='margin-right: 20px;') Invite Equinox
                    a.btn.btn-primary(href='/server') Support Server
    .container
        .row
            .col-lg-4
                .card
                    .card-body
                        h5.card-title 
                            img(src='/images/settings.png' style='width: 35px;')
                            | &nbsp;&nbsp;&nbsp;Dashboard
                        p.card-text Easily configure all of Equinox's settings by using our online dashboard, even a blind person could understand.
            .col-lg-4
                .card
                    .card-body
                        h5.card-title
                            img(src='/images/music.png' style='width: 35px;')
                            | &nbsp;&nbsp;&nbsp;Music
                        p.card-text Easily queue up your entire 
                            img(src='/images/fire.svg' style='width: 20px; margin-top: -5px;')
                            |  playlist with Equinox's completely free music capabilities.
            .col-lg-4
                .card
                    .card-body
                        h5.card-title
                            img(src='/images/utility.png' style='width: 35px;')
                            | &nbsp;&nbsp;&nbsp;Utilities
                        p.card-text Equinox provides you with tons of commands that can make your life so much easier.
        br
        .row
            .col-lg-4
                .card
                    .card-body
                        h5.card-title
                            img(src='/images/image.png' style='width: 35px;')
                            | &nbsp;&nbsp;&nbsp;Image Manipulation
                        p.card-text Easily add filters, or overlays to images with the variety of commands that this bot offers.
            .col-lg-4
                .card
                    .card-body
                        h5.card-title
                            img(src='/images/reminders.png' style='width: 35px;')
                            | &nbsp;&nbsp;&nbsp;Reminders
                        p.card-text Set reminders so that you won't forget that your lasagna has been in the oven for 6 hours.
            .col-lg-4
                .card
                    .card-body
                        h5.card-title
                            img(src='/images/idea.png' style='width: 35px;')
                            | &nbsp;&nbsp;&nbsp;Cleverbot
                        p.card-text Talk with an "intelligent" AI all day, so that you won't get bored, but you still have no friends.