doctype html
//
    Spatial by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
    head
        title Equinox
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/main.css')
        meta(name='og:title' content='Equinox')
        meta(name='og:description' content='A feature rich Discord bot packed full of the best functionalities you\'ll ever need.')
        meta(name='og:image' content='/images/equinox.jpg')
        meta(name='og:color' content='#E91E63')
    body.landing
        header#header.alt
            h1
                strong
                    a(href='/') Equinox
            nav#nav
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/dashboard') Dashboard
        block content
        // Footer
        footer#footer
            .container
                ul.copyright
                    li © Jacob Gunther
                    li
                        | Design: 
                        a(href='http://templated.co') TEMPLATED
                    li
                        | Images: 
                        a(href='http://unsplash.com') Unsplash
                        |  &amp; 
                        a(href='https://www.flaticon.com/packs/essential-collection') Flaticon
        script(src='/js/jquery.min.js')
        script(src='/js/skel.min.js')
        script(src='/js/util.js')
        script(src='/js/main.js')