doctype html
html
    head
        title Equinox
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='/') Equinox
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/') Home
                        li.nav-item
                            a.nav-link(href='/statistics') Statistics
                        li.nav-item
                            a.nav-link(href='/commands') Commands
                        li.nav-item
                            a.nav-link(href='/tags') Tags
                    ul.navbar-nav.navbar-right
                        if user
                            span.navbar-text #{user.username}##{user.discriminator}
                            li.nav-item
                                a.nav-link(href='/dashboard') Dashboard
                            li.nav-item
                                a.nav-link(href='/auth/logout') Log out
                        else
                            li.nav-item
                                a.nav-link(href='/dashboard') Dashboard
        block content
        script(type='text/javascript' src='/js/jquery-3.2.1.min.js')
        script(type='text/javascript' src='/js/popper.min.js')
        script(type='text/javascript' src='/js/bootstrap.min.js')